.sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #146c4a;

  @media screen and (max-width: 1023px) {
    font-size: 22px;
    line-height: 27px;
  }
}

.container .swiper {
  margin-left: 50px;
  margin-top: -50px;
  padding: 70px 0 70px;

  @media screen and (max-width: 1023px) {
    margin-left: 0;
    margin-top: 0px;
  }

  .swiper-pagination {
    width: 305px;
    height: 8px;
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1023px) {
      height: 5px;
    }
  }

  .swiper-pagination-bullet {
    height: 8px;
    background: #d9d9d9;

    @media screen and (max-width: 1023px) {
      height: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    width: 73px;
    height: 10px;
    background: #146c4a;
    border-radius: 0;

    @media screen and (max-width: 1023px) {
      height: 5px;
      width: 39px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    background-color: #146c4a;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: 1023px) {
      width: 37px;
      height: 37px;
    }

    &::after {
      content: '';
    }
  }
  .swiper-button-next {
    background-image: url('/icons/next.svg');

    @media screen and (max-width: 1023px) {
      background-image: url('/icons/next-small.svg');
    }
  }

  .swiper-button-prev {
    background-image: url('/icons/prev.svg');

    @media screen and (max-width: 1023px) {
      background-image: url('/icons/prev-small.svg');
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

.partners {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;

  .swiper-button-prev,
  .swiper-button-next {
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    background-color: #146c4a;

    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: 1023px) {
      width: 37px;
      height: 37px;
    }

    &::after {
      content: '';
    }
  }
  .swiper-button-next {
    background-image: url('/icons/next.svg');
    right: -40px;

    @media screen and (max-width: 1023px) {
      background-image: url('/icons/next-small.svg');
    }
  }

  .swiper-button-prev {
    background-image: url('/icons/prev.svg');
    left: -50px;

    @media screen and (max-width: 1023px) {
      background-image: url('/icons/prev-small.svg');
    }
  }
}

.partners .swiper {
  margin-left: 70px;
  margin-right: 70px;

  @media screen and (max-width: 1023px) {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .swiper-pagination {
    width: 723px;
    height: 10px;

    @media screen and (max-width: 1023px) {
      height: 5px;
    }
  }
}
